extends layout

block content
	a.btn.btn-large.btn-success(href='/createDebate') Create
	h3 #{user.xory.username}
	img(src='#{user.xory.pic}')
	h5 Location
	p #{user.xory.location}
	h5 About
	p #{user.xory.about}
	h5 Occupation
	p #{user.xory.occupation}
	h5 Political Views
	p #{user.xory.political}
	h5 Operating System 
	p #{user.xory.os}
	h5 Musical Preference
	p #{user.xory.music}
	
